<h1>City#show</h1>
<p>Find me in app/views/city/show.html.erb</p>

<h1>
  <%= @city.name %>
</h1>
  <button type="button" class="btn btn-default">
    <%= link_to "New Post", post_new_path(@city.id) %>
  </button>
<h2>

 <ul>
    <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_show_path(post.id) %>
          
          <button type="button" class="btn btn-default">
            <%= link_to "Edit", post_edit_path(post.id) %>
          </button>
          <button type="button" class="btn btn-default">
            <%= link_to "X", 
                post_delete_path(post.id), 
                method: 'delete', 
                data: {
                  confirm: "Are you sure you want to delete #{post.title}?"
                  } %>
          </button>
          <br>
          <p>
            <%= post.content %>
          </p>
        </li>
    <% end %>
 </ul>
</h2>