<div class="city-header">
  <h1 class="city-header--text">
    <%= @city.name %>
  </h1>
  <button type="button" class="btn btn-default header-button">
    <%= link_to "New Post", post_new_path(@city.id) %>
  </button>
</div>
<div class="city-header--image">
  <% if @city.img_url %>
      <%= image_tag(@city.img_url, :class=> "city_img") %>
  <% end %>
</div>

<ul>
    <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_show_path(post.id) %>
          <% if user_signed_in? %>
            <% if post.user_id == current_user.id %>
              <button type="button" class="btn btn-default">
                <%= link_to "Edit", post_edit_path(post.id) %>
              </button>
              <button type="button" class="btn btn-default">
                <%= link_to "X", 
                    post_delete_path(post.id), 
                    method: 'delete', 
                    data: {
                      :'sweet-alert-confirm' => "Are you sure you want to delete #{post.title}?",
                      :'confirm-button-text' => 'Delete',
                      :'cancel-button-text' => 'Cancel',
                      :'confirm-button-color' => '#D9534F',
                      :'sweet-alert-type' => 'error',
                      text: 'This cannot be undone.'
                      } %>
              </button>
            <% end %>
          <% end  %>
          <br>
          <p>
            <%= post.content %>
          </p>
        </li>
    <% end %>
    <br>
    <%= will_paginate @posts, :class => 'apple_pagination' %>

 </ul>
