<div class="city-header">
  <h1 class="city-header--text">
    <%= @city.name %>
  </h1>
  <button type="button" class="btn btn-default header-button">
    <%= link_to "New Post", post_new_path(@city.id) %>
  </button>
</div>
<div class="city-header--image">
  <% if @city.img_url %>
      <%= image_tag(@city.img_url, :class=> "city_img") %>
  <% end %>
</div>

<ul>
    <% @posts.each do |post| %>
      <%= render "post/post", collection: @post = post %>
    <% end %>
    <br>
    <%= will_paginate @posts, :class => 'apple_pagination' %>

 </ul>
