<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="feed feed-body">
          <div class="list-group">
                  <li class="list-group-item">
                    <div class="feed feed-picture col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <%= image_tag(@post.user.img_url, :class=> "profile_img_feed img-rounded img-responsive") %>
                    </div>
                    <div class="feed-body">
                      <h3 class="feed-item"><%= @post.user.username %></h3>

                      <h4><%= @post.title %></h4>
                      <br>
                      <p><%= @post.content %></p>
                      <br>
                      <%= @post.city.name %>
                      <br>
                      <%= @post.time_difference %>
                      <% if user_signed_in? %>
                        <% if @post.user_id == current_user.id %>
                        <button type="button" class="btn btn-default">
                          <%= link_to "Edit", post_edit_path(@post.id) %>
                        </button>

                        <button type="button" class="btn btn-default">
                          <%= link_to "X", 
                            post_delete_path(@post.id), 
                            method: 'delete', 
                            data: {
                              :'sweet-alert-confirm' => "Are you sure you want to delete #{post.title}?",
                              :'confirm-button-text' => 'Delete',
                              :'cancel-button-text' => 'Cancel',
                              :'confirm-button-color' => '#D9534F',
                              :'sweet-alert-type' => 'error',
                              text: 'This cannot be undone.'
                              } %>
                        </button>

                        <% end %>
                      <% end %>
                    </div>
                  </li>
          </div>
        </div>
      </div>
    </div>