

<h1>Post#new</h1>
<p>Find me in app/views/post/new.html.erb</p>

<%= bootstrap_form_for(@post, inline_errors: false, url: post_create_path) do |f| %>
  <%= f.alert_message "There was a problem creating your post:" %>
  <%= f.text_field :title %>
  <%= f.text_field :content %>
  <%= f.submit "Create Post", data: {
                  :'sweet-alert-confirm' => "Are you sure you want to create this post?",
                  :'confirm-button-text' => 'Create',
                  :'cancel-button-text' => 'Cancel',
                  :'confirm-button-color' => '#5CB85C',
                  :'sweet-alert-type' => 'success',
                  text: 'This can be edited later.'
                  } %>

<% end %>