

<h3>
  <%= @post.title %>
</h3>
<p>
  <%= @post.content %>
</p>

<p>Written by <%= @post.user.username %></p>

<% if user_signed_in? %>
  <% if @post.user_id == current_user.id %>
    <button type="button" class="btn btn-default">
      <%= link_to "Edit", post_edit_path(@post.id) %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to "X", 
          post_delete_path(@post.id), 
          method: 'delete', 
          data: {
            :'sweet-alert-confirm' => "Are you sure you want to delete #{@post.title}?",
            :'confirm-button-text' => 'Delete',
            :'cancel-button-text' => 'Cancel',
            :'confirm-button-color' => '#D9534F',
            :'sweet-alert-type' => 'error',
            text: 'This cannot be undone.'
            } %>
    </button>
  <% end %>
  <%= link_to "Add Comment", comment_new_path(@post) %>
<% end %>


<h4>Comments: </h4>
  
  <ul class="list-group">
    <% @post.comments.each do |comment| %>

      <li class="list-group-item">
        <%= comment.content %>
          <% if user_signed_in? %>
            <% if current_user.id == comment.user.id %>
              <button type="button" class="btn btn-danger">
                <%= link_to "X",
                    "/posts/#{@post.id}/comments/#{comment.id}",
                    method: 'delete'
                    %>
              </button>
            <% end %>
          <% end %>
      </li>

    <% end %>
  </ul>
  


      
   






