<h5>Test Feed containing posts by followed users</h5>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="list-group">
          <% current_user.sorted_posts.each do |post| %>
            <li class="list-group-item">
              <h4><%= post.user.username %></h4>
              <br>
              <h6><%= post.title %></h6>
              <br>
              <p><%= post.content %></p>
              <br>
              <%= post.city.name %>
              <br>
              <%= post.time_difference %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>


