
<div class="flex-container profile">
  <div class="userInfo">
    <% if @user.img_url %>
    <div class="userPicture" ><%= image_tag(@user.img_url, :class=> "profile_img img-rounded") %></div>
    <% end %>
        <div class="userDetails">
      <ul>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <hr>
        <p><%= @user.username %></p>
        <h4>Vagabond since:</h4>
        <h5><%= @user.created_at.to_date%></h5>
        <h4>Current City:</h4>
        <h5><%= @user.current_city %></h5>
      </ul>

          <div class="userButtons">
            <%= button_to "Edit Profile",
                          user_edit_path,
                          :class => 'btn btn-info',
                          method: 'get' %>
          </div>
        </div>
  </div>


  <div class="posts ">
    <div class="userBio"><h3>Vagabond profile:</h3>
      <p> <%= @user.bio %></p>
      <% if @user.cities.uniq.length == 1 %>
          <p><%= "You have contributed to one city: #{@user.cities.uniq[0].name}" %></p>
      <% elsif @user.cities.uniq.length > 1 %>
          <p><%= "You have contrbuted to #{@user.cities.uniq.length} cities:" %></p>
          <ul>
              <% @user.cities.uniq.each do |city| %>
                  <li>
                      <%= city.name %>
                  </li>
              <% end %>
          </ul>
      <% end %>
    </div>
      <% if @posts.length != 0 %>
        <% @posts.each do |post|  %>
          <%= render "post/post_minimal", collection: @post = post %>
        <% end %>
      <% else %>
        <p><%= "#{@user.username} hasn't written any posts." %></p>
      <% end %>
      <br>
      <%= will_paginate @posts, :class => 'apple_pagination' %>

  </div>
</div>
