
<div class="flex-container">
  <div class="userInfo">
    <% if @user.img_url %>
    <div class="userPicture" ><%= image_tag(@user.img_url, :class=> "profile_img") %></div>
    <% end %>
        <div class="userDetails">
      <ul>
        <li><%= @user.first_name %> <%= @user.last_name %></li>
        <li><%= @user.created_at.to_date%></li>
        <li><%= @user.current_city %></li>
      </ul>

    </div>
    <div class="userButtons"> <button type="button">Edit Profile</button></div>
  </div>

  <div class="posts">
    <div class="userBio"> <%= @user.bio %></div>
      <% @posts.each do |post|  %>
        <div class = "individualPost">
          <%= post.content %>
            <% if post.user_id == current_user.id %>
            <button type="button" class="btn btn-default">
              <%= link_to "Edit", post_edit_path(post.id) %>
            </button>

            <button type="button" class="btn btn-default">
              <%= link_to "X", 
                post_delete_path(post.id), 
                method: 'delete', 
                data: {
                  :'sweet-alert-confirm' => "Are you sure you want to delete #{post.title}?",
                  :'confirm-button-text' => 'Delete',
                  :'cancel-button-text' => 'Cancel',
                  :'confirm-button-color' => '#D9534F',
                  :'sweet-alert-type' => 'error',
                  text: 'This cannot be undone.'
                  } %>
            </button>

            <% end %>
      <% end %>
  </div>
</div>
</div>
