<!DOCTYPE html>
<html>
  <head>
    <title>VagabondProject</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Open+Sans|Poiret+One" rel="stylesheet">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <!-- Nav -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand navbar-brand" href="/">Vagabond</a>
        <a class="nav navbar-nav navbar-right" href="/city/index">Cities</a>
        <a class="nav navbar-nav navbar-right" href="/users">Users</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to "Profile", user_profile_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
              <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <% end %>
        </ul>
      </div>
    </div>
  </nav>


    <div class="head-spacer"></div>
        
    <section>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
      <%= yield %>
    </section>
    <!--<footer class="bottomNav">-->
      <!--<div class="leftBottomNav">-->

      <!--</div>-->
      <!--<div class="RightBottomNav">-->
        <!--<input type="button" class="btn btn-success" value="Back to Top" onclick="location.href = '#navbar';"></button>-->

      <!--</div>-->
    <!--</footer>-->

    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">

            <div class="footer-col col-md-12">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li>
                  <a href="" class="btn-social btn-outline"><i class="fa fa-" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="" class="btn-social btn-outline"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="" class="btn-social btn-outline"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="" class="btn-social btn-outline"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright © 2017
            </div>
          </div>
        </div>
      </div>
    </footer>
    </body>
</html>
